body {
    margin: 0;
    padding: 0;
    background-image: url('bg.png'); /* Replace 'your-image.png' with the path to your PNG file */
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    background-color: #513727;
}
.almirah {
    width: 125px; /* Adjust the width as needed */
    height: 190px; /* Adjust the height as needed */
    background: url('almirah.gif') no-repeat center center; /* Replace 'almirah.gif' with the path to your GIF file */
    background-size: contain;
    border: none; /* Remove border for a cleaner look */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    color: transparent; /* Make text transparent */
    text-align: center;
    position: absolute;
    top: 58%;
    left:22%;
    transform: translate(-50%, -50%);
}
.tuff{
    background-color: transparent;
    width: 150px; /* Adjust the width as needed */
    height: 150px; /* Adjust the height as needed */
    position:absolute;
    top: 40.5%;
    left: 45%;
}
.action-button {
    width: 80px; /* Adjust the width as needed */
    height: 90px; /* Adjust the height as needed */
    background: url('button.png') no-repeat center center; /* Replace 'button.png' with the path to your button image */
    background-size: contain;
    border: none; /* Remove border for a cleaner look */
    cursor: pointer; /* Make it look clickable */
    position: absolute;
    top: 50%; /* Adjust position as needed */
    left:21.3%; /* Adjust position as needed */
    transform: translate(-50%, -50%);
}
.cake{
    width: 400px;
    position: absolute;
    top: 60%;
    left: 30%;
    animation: fadeIn 5s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.hbd {
    font-family: 'Courier New', Courier, monospace; /* Pixelated font style */
    font-size: 40px; /* Adjust font size as needed */
    color: #ffffff; /* White text color */
    text-align: center; /* Center the text */
    position: absolute;
    top: 50%;
    left: 30%;
    transform: rotate(-23deg);
    text-align: left;
    letter-spacing: 10px; /* Increase space between letters */
    line-height: 2; /* Adjust line height for better spacing */
    text-transform: uppercase; 
    animation: fadeIn 2s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.tufff{
    position: absolute;
    left: 90%;
}

